@charset "utf-8";

body{
    background: linear-gradient(rgb(0, 166, 255), 30%, rgb(132, 125, 125));
        margin: 0;
        overflow: hidden; /* Prevent scrolling initially */
}

video{
    width: 100%;
    height: 100%; 
}

img.head{

    width: 470px;
    height: 90px;
    display: block;
    position: relative;
    right: -14px;
}

h1.title{
    position: relative;
    right: -100px;
    bottom: -4px;
}

.first{
    font-size: 150%;
    text-align: center;  
    position: relative;
    right:-40px;
    bottom: -13px;
}


section{
    font-size: 136%;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    right: -46px;
    bottom: -13px;

p#hissu{
    color: rgb(255, 0, 0);
}
label#mane{
    font-size: 106%;
    color: rgb(0, 0, 0);
    position: relative;
    right:-1px;
}
}

.mail{
    font-size: 106%;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    right: 8px;
    bottom: -3px; 
}

.insta{
    font-size: 106%;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    right: 8px;
    bottom: -3px; 
}

.car{
    font-size: 146%;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    right: -112px;
    bottom: -3px; 
}

.file{
    display: block;
    font:
    1rem "Fira Sans",
    sans-serif;
    position: relative;
    right: -59px;
    bottom: -23px; 
}

optionchoice{
    h2{
    font-size: 146%;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    right: 22px;
    bottom: -19px; 
    }
}

details[open] {
    border: 3px solid #000dff; /* 開いたときに枠線を青にする */
    animation-delay: 1000ms;
    border: 3px solid #000000; /* 開いたときに枠線を青にする */
    animation-delay: 1000ms;
}

optionchoice{
    position: relative;
    right: -72px;
    bottom: -13px;
}


img.win{
    width:380px;
    height: 60px;
}


/* Jelly-like animation using keyframes */
@keyframes jelly {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1) rotate(-5deg);
    }
    50% {
        transform: scale(1) rotate(5deg);
    }
    75% {
        transform: scale(1.1) rotate(-5deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

h3{
    font-size: 17px;
    position: relative;
    right: -50px;
    bottom: -13px;
}

label{
    position: relative;
    right: -42px;
}

input[type="submit"] {
    width: 170px;
    height: 60px;
    display: block;
    position: relative;
    right: -50px;
    bottom: -13px;

    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 30px;
    background-color: #0800ff; /* Pink background color */
    color: white;
    cursor: pointer;
    outline: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
    animation: jelly 1.5s infinite; /* Apply the jelly animation */
}


